In [81]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [82]:
# import data
all_seasons = pd.read_csv('all_seasons.csv')
all_seasons.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,12,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,7,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,22,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [83]:
# change the season column location to front of player_name
all_seasons = all_seasons[['season', 'player_name'] + [col for col in all_seasons.columns if col not in ['season', 'player_name']]]
# drop Unnamed: 0
all_seasons = all_seasons.drop(columns=['Unnamed: 0'])
all_seasons.head()

,season,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,1996-97,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248
1,1996-97,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043
2,1996-97,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,12,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125
3,1996-97,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,7,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125
4,1996-97,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,22,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064

In [84]:
# new column for filter the season
all_seasons['season_filter'] = all_seasons['season'].str[:4]
# only keep the season after 2004
all_seasons = all_seasons[all_seasons['season_filter'] > '2004']

In [85]:
# sort by player_name and season
all_seasons = all_seasons.sort_values(by=['player_name', 'season'], ascending=[True, True])
# reset index
all_seasons = all_seasons.reset_index(drop=True)
all_seasons.head(10)

,season,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season_filter
0,2022-23,A.J. Lawson,DAL,22.0,198.12,81.192968,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,3.7,1.4,0.1,-20.1,0.046,0.152,0.189,0.589,0.032,2022
1,2022-23,AJ Green,MIL,23.0,195.58,86.182480,Northern Iowa,USA,Undrafted,Undrafted,Undrafted,35,4.4,1.3,0.6,-4.9,0.016,0.105,0.159,0.607,0.092,2022
2,2022-23,AJ Griffin,ATL,19.0,198.12,99.790240,Duke,USA,2022,1,16,72,8.9,2.1,1.0,1.5,0.026,0.080,0.174,0.577,0.070,2022
3,2016-17,AJ Hammons,DAL,24.0,213.36,117.933920,Purdue,USA,2016,2,46,22,2.2,1.6,0.2,-0.6,0.049,0.199,0.167,0.472,0.038,2016
4,2009-10,AJ Price,IND,23.0,187.96,82.100152,Connecticut,USA,2009,2,52,56,7.3,1.6,1.9,1.4,0.015,0.098,0.225,0.530,0.198,2009
5,2010-11,AJ Price,IND,24.0,187.96,82.100152,Connecticut,USA,2009,2,52,50,6.5,1.4,2.2,1.6,0.022,0.083,0.227,0.454,0.233,2010
6,2011-12,AJ Price,IND,25.0,187.96,83.914520,Connecticut,USA,2009,2,52,44,3.9,1.4,2.0,0.5,0.024,0.104,0.175,0.454,0.264,2011
7,2012-13,AJ Price,WAS,26.0,187.96,83.914520,Connecticut,USA,2009,2,52,57,7.7,2.0,3.6,-2.3,0.017,0.083,0.181,0.501,0.273,2012
8,2013-14,AJ Price,MIN,27.0,187.96,88.450440,Connecticut,USA,2009,2,52,28,1.6,0.4,0.5,-2.4,0.009,0.081,0.230,0.469,0.271,2013
9,2014-15,AJ Price,CLE,28.0,187.96,88.450440,Connecticut,USA,2009,2,52,26,5.1,1.2,1.8,-12.2,0.019,0.096,0.226,0.451,0.254,2014

In [86]:
# only keep season, season_filter,player_name, team_abbreviation, age, player_height, player_weight, college, country, draft_year
all_seasons = all_seasons[['season', 'season_filter', 'player_name', 'team_abbreviation', 'age', 'player_height', 'player_weight', 'college', 'country', 'draft_year']]
all_seasons.head()

,season,season_filter,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year
0,2022-23,2022,A.J. Lawson,DAL,22.0,198.12,81.192968,South Carolina,Canada,Undrafted
1,2022-23,2022,AJ Green,MIL,23.0,195.58,86.182480,Northern Iowa,USA,Undrafted
2,2022-23,2022,AJ Griffin,ATL,19.0,198.12,99.790240,Duke,USA,2022
3,2016-17,2016,AJ Hammons,DAL,24.0,213.36,117.933920,Purdue,USA,2016
4,2009-10,2009,AJ Price,IND,23.0,187.96,82.100152,Connecticut,USA,2009

In [87]:
# preprocessing/NBA-Boxscore-Database.sqlite
import sqlite3
conn = sqlite3.connect('NBA-Boxscore-Database.sqlite')
c = conn.cursor()

# check the table name
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('game_info',), ('player_stats',), ('team_stats',)]

In [88]:
# check the player_stats
c.execute("SELECT * FROM player_stats")
player_stats = pd.DataFrame(c.fetchall())
player_stats.columns = [x[0] for x in c.description]
player_stats.head()

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,131410290001,Arron Afflalo,ORL,32:59,3.0,14.0,0.214,1.0,5.0,0.200,2.0,3.0,0.667,1.0,2.0,3.0,1.0,0.0,0.0,1.0,1.0,9.0,-14.0,0.294,0.250,0.357,0.214,3.1,8.1,5.3,4.6,0.0,0.0,6.1,20.8,69.0,111.0,-9.9,-1.1
1,131410290001,Nikola Vučević,ORL,30:39,4.0,11.0,0.364,0.0,0.0,NaN,0.0,0.0,NaN,5.0,5.0,10.0,3.0,2.0,1.0,5.0,4.0,8.0,-22.0,0.364,0.364,0.000,0.000,16.7,21.8,18.9,15.8,3.3,2.9,31.3,21.9,70.0,98.0,-5.4,3.8
2,131410290001,Jameer Nelson,ORL,30:34,4.0,13.0,0.308,3.0,7.0,0.429,1.0,1.0,1.000,1.0,4.0,5.0,7.0,2.0,0.0,2.0,1.0,12.0,-11.0,0.446,0.423,0.538,0.077,3.3,17.4,9.5,37.0,3.3,0.0,13.0,21.2,102.0,101.0,5.9,10.3
3,131410290001,Jason Maxiell,ORL,26:19,0.0,5.0,0.000,0.0,0.0,NaN,0.0,0.0,NaN,1.0,4.0,5.0,0.0,1.0,2.0,2.0,2.0,0.0,-15.0,0.000,0.000,0.000,0.000,3.9,20.3,11.0,0.0,1.9,6.8,28.6,11.2,8.0,99.0,-10.6,-1.9
4,131410290001,Maurice Harkless,ORL,23:30,6.0,13.0,0.462,2.0,2.0,1.000,0.0,1.0,0.000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,14.0,-3.0,0.521,0.538,0.154,0.077,4.3,0.0,2.5,0.0,2.2,0.0,0.0,24.0,111.0,107.0,2.4,2.7

In [89]:
# sort by player_name and game_date
player_stats = player_stats.sort_values(by=['player'], ascending=[True])
# reset index
player_stats = player_stats.reset_index(drop=True)
player_stats.head(10)

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,222303161045,A.J. Green,MIL,7:49,0.0,1.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,-5.0,0.0,0.0,1.000,0.0,0.0,28.6,14.3,0.0,0.0,0.0,50.0,10.9,0.0,138.0,-19.2,0.0
1,222301210695,A.J. Green,MIL,4:09,0.0,2.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,0.0,0.0,0.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.1,0.0,128.0,-28.3,-0.9
2,222302240896,A.J. Green,MIL,18:56,2.0,6.0,0.333,2.0,5.0,0.4,0.0,0.0,NaN,0.0,1.0,1.0,4.0,1.0,0.0,1.0,2.0,6.0,15.0,0.5,0.5,0.833,0.0,0.0,4.5,2.5,24.2,2.5,0.0,14.3,15.3,111.0,97.0,2.5,2.4
3,222301030561,A.J. Green,MIL,9:23,0.0,3.0,0.000,0.0,3.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,-8.0,0.0,0.0,1.000,0.0,0.0,10.7,5.4,10.7,0.0,0.0,25.0,17.1,17.0,120.0,-22.0,-0.9
4,222310220033,A.J. Green,MIL,2:14,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,44.8,0.0,0.0,NaN,0.0,233.0,119.0,9.0,0.5
5,222303141033,A.J. Green,MIL,4:35,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,0.0,25.5,12.0,0.0,0.0,0.0,NaN,0.0,0.0,108.0,-5.8,0.5
6,222302090833,A.J. Green,MIL,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,222302100844,A.J. Green,MIL,2:25,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,117.0,-9.7,0.0
8,222311300316,A.J. Green,MIL,0:02,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,121.0,-9.3,0.0
9,222304071208,A.J. Green,MIL,14:37,2.0,6.0,0.333,2.0,5.0,0.4,0.0,0.0,NaN,0.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,6.0,3.0,0.5,0.5,0.833,0.0,0.0,17.3,8.0,18.5,0.0,0.0,0.0,17.3,119.0,141.0,-4.5,2.0

In [90]:
# check game_info
c.execute("SELECT * FROM game_info")
game_stats = pd.DataFrame(c.fetchall())
game_stats.columns = [x[0] for x in c.description]
game_stats.head()

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,131410290001,1314,2013-10-29,ORL,87,IND,97,1
1,131410290002,1314,2013-10-29,CHI,95,MIA,107,1
2,131410290003,1314,2013-10-29,LAC,103,LAL,116,1
3,131410300004,1314,2013-10-30,BRK,94,CLE,98,1
4,131410300005,1314,2013-10-30,BOS,87,TOR,93,1

In [91]:
# join player_stats and game_info
player_game = pd.merge(player_stats, game_stats, left_on='game_id', right_on='game_id')
player_game.head(10)

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE,season,date,away_team,away_score,home_team,home_score,result
0,222303161045,A.J. Green,MIL,7:49,0.0,1.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,-5.0,0.0,0.0,1.000,0.0,0.0,28.6,14.3,0.0,0.0,0.0,50.0,10.9,0.0,138.0,-19.2,0.0,2223,2023-03-16,IND,139,MIL,123,0
1,222301210695,A.J. Green,MIL,4:09,0.0,2.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,0.0,0.0,0.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.1,0.0,128.0,-28.3,-0.9,2223,2023-01-21,MIL,102,CLE,114,1
2,222302240896,A.J. Green,MIL,18:56,2.0,6.0,0.333,2.0,5.0,0.4,0.0,0.0,NaN,0.0,1.0,1.0,4.0,1.0,0.0,1.0,2.0,6.0,15.0,0.5,0.5,0.833,0.0,0.0,4.5,2.5,24.2,2.5,0.0,14.3,15.3,111.0,97.0,2.5,2.4,2223,2023-02-24,MIA,99,MIL,128,1
3,222301030561,A.J. Green,MIL,9:23,0.0,3.0,0.000,0.0,3.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,-8.0,0.0,0.0,1.000,0.0,0.0,10.7,5.4,10.7,0.0,0.0,25.0,17.1,17.0,120.0,-22.0,-0.9,2223,2023-01-03,WAS,113,MIL,123,1
4,222310220033,A.J. Green,MIL,2:14,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,44.8,0.0,0.0,NaN,0.0,233.0,119.0,9.0,0.5,2223,2022-10-22,HOU,105,MIL,125,1
5,222303141033,A.J. Green,MIL,4:35,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,NaN,NaN,NaN,NaN,0.0,25.5,12.0,0.0,0.0,0.0,NaN,0.0,0.0,108.0,-5.8,0.5,2223,2023-03-14,MIL,116,PHO,104,0
6,222302090833,A.J. Green,MIL,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2223,2023-02-09,MIL,115,LAL,106,0
7,222302100844,A.J. Green,MIL,2:25,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,117.0,-9.7,0.0,2223,2023-02-10,MIL,119,LAC,106,0
8,222311300316,A.J. Green,MIL,0:02,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,121.0,-9.3,0.0,2223,2022-11-30,MIL,109,NYK,103,0
9,222304071208,A.J. Green,MIL,14:37,2.0,6.0,0.333,2.0,5.0,0.4,0.0,0.0,NaN,0.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,6.0,3.0,0.5,0.5,0.833,0.0,0.0,17.3,8.0,18.5,0.0,0.0,0.0,17.3,119.0,141.0,-4.5,2.0,2223,2023-04-07,MEM,137,MIL,114,0

In [92]:
# add season column
# set August 1st as the start of the season
player_game['season'] = player_game['date'].apply(lambda x: str(int(x[:4]) - 1) if x[5:7] < '08' else x[:4])
player_game.head()

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE,season,date,away_team,away_score,home_team,home_score,result
0,222303161045,A.J. Green,MIL,7:49,0.0,1.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,-5.0,0.0,0.0,1.000,0.0,0.0,28.6,14.3,0.0,0.0,0.0,50.0,10.9,0.0,138.0,-19.2,0.0,2022,2023-03-16,IND,139,MIL,123,0
1,222301210695,A.J. Green,MIL,4:09,0.0,2.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,0.0,0.0,0.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.1,0.0,128.0,-28.3,-0.9,2022,2023-01-21,MIL,102,CLE,114,1
2,222302240896,A.J. Green,MIL,18:56,2.0,6.0,0.333,2.0,5.0,0.4,0.0,0.0,NaN,0.0,1.0,1.0,4.0,1.0,0.0,1.0,2.0,6.0,15.0,0.5,0.5,0.833,0.0,0.0,4.5,2.5,24.2,2.5,0.0,14.3,15.3,111.0,97.0,2.5,2.4,2022,2023-02-24,MIA,99,MIL,128,1
3,222301030561,A.J. Green,MIL,9:23,0.0,3.0,0.000,0.0,3.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,-8.0,0.0,0.0,1.000,0.0,0.0,10.7,5.4,10.7,0.0,0.0,25.0,17.1,17.0,120.0,-22.0,-0.9,2022,2023-01-03,WAS,113,MIL,123,1
4,222310220033,A.J. Green,MIL,2:14,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,44.8,0.0,0.0,NaN,0.0,233.0,119.0,9.0,0.5,2022,2022-10-22,HOU,105,MIL,125,1

In [93]:
# move season column to front
player_game = player_game[['season'] + [col for col in player_game.columns if col not in ['season']]]
player_game.head()

,season,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE,date,away_team,away_score,home_team,home_score,result
0,2022,222303161045,A.J. Green,MIL,7:49,0.0,1.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,-5.0,0.0,0.0,1.000,0.0,0.0,28.6,14.3,0.0,0.0,0.0,50.0,10.9,0.0,138.0,-19.2,0.0,2023-03-16,IND,139,MIL,123,0
1,2022,222301210695,A.J. Green,MIL,4:09,0.0,2.0,0.000,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,0.0,0.0,0.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.1,0.0,128.0,-28.3,-0.9,2023-01-21,MIL,102,CLE,114,1
2,2022,222302240896,A.J. Green,MIL,18:56,2.0,6.0,0.333,2.0,5.0,0.4,0.0,0.0,NaN,0.0,1.0,1.0,4.0,1.0,0.0,1.0,2.0,6.0,15.0,0.5,0.5,0.833,0.0,0.0,4.5,2.5,24.2,2.5,0.0,14.3,15.3,111.0,97.0,2.5,2.4,2023-02-24,MIA,99,MIL,128,1
3,2022,222301030561,A.J. Green,MIL,9:23,0.0,3.0,0.000,0.0,3.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,-8.0,0.0,0.0,1.000,0.0,0.0,10.7,5.4,10.7,0.0,0.0,25.0,17.1,17.0,120.0,-22.0,-0.9,2023-01-03,WAS,113,MIL,123,1
4,2022,222310220033,A.J. Green,MIL,2:14,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,44.8,0.0,0.0,NaN,0.0,233.0,119.0,9.0,0.5,2022-10-22,HOU,105,MIL,125,1

In [2]:
print(1)

1